.mobile-menu-container {
    display: none;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    z-index: 2;
}

.mobile-menu {
    position: absolute;
    background: white;
    width: 60vw;
    z-index: 3;
    left: 0;
    top: 0;
    bottom: 0;
    
    animation-duration: 0.5s;
    animation-name: slidein;
}

.menu-active {
    margin-left: 0;
}

@keyframes slidein {
    from {
        margin-left: -60vw;
    }
  
    to {
        margin-left: 0px;
    }
  }


.mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
}


.mobile-menu ul li {
    list-style: none;
    font-weight: 700;
    padding: 15px 25px;
    cursor: pointer;
}


@media (max-width:1024px) {
    .mobile-menu-container {
        display: block;
    }

    .mobile-menu {
        width: 40vw;
    }
}

@media (max-width:700px) {
    .mobile-menu {
        width: 45vw;
    }
}

@media (max-width:560px) {
    .mobile-menu {
        width: 55vw;
    }
}

@media (max-width:420px) {
    .mobile-menu {
        width: 60vw;
    }
}